---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const {
  src,
  alt = "",
  caption,
  temporary = false,
  wide = false
} = Astro.props as {
  src: ImageMetadata;
  alt?: string;
  caption?: string;
  temporary?: boolean;
  wide?: boolean;
};
---

<figure class:list={["media-figure", { "media-figure--wide": wide }]}>
  <Image
    src={src}
    alt={alt}
    widths={[640, 960, 1440, 1920]}
    sizes="(max-width: 760px) calc(100vw - 40px), 720px"
    loading="lazy"
  />
  {(caption || temporary) && (
    <figcaption>
      <span>{caption}</span>
      {temporary && <em>Temporary asset / 临时图片</em>}
    </figcaption>
  )}
</figure>
